.background{
    background-color: gray;
}
.navbar-content{
    display: flex;
    flex-direction: row;
}
.navbar-content li{
    list-style-type: none;
    margin-left: 10px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer ;
}